<a href="https://colab.research.google.com/github/Yashdatadev28/Gen_AI_Training/blob/main/example/GenAITrainingSession1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
# !pip install -U langchain-groq
# !pip install streamlit

In [67]:
from google.colab import userdata

api_key = userdata.get('API_KEY')

In [68]:
from langchain.chat_models import init_chat_model

model = init_chat_model("llama3-8b-8192", model_provider="groq",api_key=api_key)

In [72]:
response = model.invoke('Write a SQL code to fetch employee name, salary, department name, manager from employee table ')
#print(response.content)

import streamlit as st
st.title('Llama Bot ðŸ¤–')
print('')
st.markdown(response.content)

# Llama Bot ðŸ¤–

Here is the SQL code to fetch employee name, salary, department name, and manager from the employee table:
```
SELECT
    e.name,
    e.salary,
    d.name AS department_name,
    m.name AS manager_name
FROM
    employees e
JOIN
    departments d ON e.department_id = d.id
LEFT JOIN
    employees m ON e.manager_id = m.id;
```
Here's a breakdown of the code:

* `SELECT` clause: We select the columns we want to retrieve: `e.name` (employee name), `e.salary`, `d.name` (department name), and `m.name` (manager name).
* `FROM` clause: We specify the table we want to retrieve data from, which is `employees` (aliased as `e`).
* `JOIN` clause: We join the `employees` table with the `departments` table on the `department_id` column. This allows us to link each employee to their department.
* `LEFT JOIN` clause: We use a left join to link each employee to their manager. If an employee does not have a manager (i.e., `manager_id` is null), the result will still include the employee's information with a null value for the manager's name.
* `AS` keyword: We use the `AS` keyword to give aliases to the department and manager names, so they can be easily identified in the result set.

Note: The exact column names and table names may vary depending on your specific database schema. This code assumes that the `employees` table has columns named `name`, `salary`, `department_id`, and `manager_id`, and that the `departments` table has a column named `name`.